<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido!</title>
</head>
<body>
    <h1>Bienvenido {{user.name}}!</h1>
    <p>Haz click en el siguiente boton para enviar el correo de confirmacion al numero de telefono ingresado</p>
    <a href="{{url}}" style="color: white; font-weight: bold; background-color: purple;">Link de activacion</a>
</body>
</html>
